<!-- Footer -->
    <footer>
        <div class="bottom-container">
            <a class="footer-link" href="https://www.linkedin.com/in/daniel-sierra-049b1223b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BeQqWl80YQEakG8iPrd5wMg%3D%3D">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/HW_Dano_12">Twitter</a>
            <a class="footer-link" href="https://github.com/HWDano">GitHub</a>
            <p class="footer-sign">© 2022 Daniel Alejandro Sierra Hernandez.</p>
        </div>
    </footer>

</body>
</html>